<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cadCliente</servlet-name>
        <servlet-class>Servlet.cadCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cidades</servlet-name>
        <servlet-class>Servlet.Cidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Produtos</servlet-name>
        <servlet-class>Servlet.Produtos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Servlet.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>Servlet.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venda</servlet-name>
        <servlet-class>Servlet.Venda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadVenda</servlet-name>
        <servlet-class>Servlet.cadVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>destroy</servlet-name>
        <servlet-class>Servlet.destroy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadCliente</servlet-name>
        <url-pattern>/cadCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cidades</servlet-name>
        <url-pattern>/Cidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Produtos</servlet-name>
        <url-pattern>/Produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadVenda</servlet-name>
        <url-pattern>/cadVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venda</servlet-name>
        <url-pattern>/Venda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>destroy</servlet-name>
        <url-pattern>/destroy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
