<div class="row">
    <h5 style="color: #757575">Cidades</h5>
</div>

<div class="row">
    <div class="col s4">
        <div class="card grey lighten-4">
            <div class="card-content white-text center">
                <span class="card-title"><b style="color: #616161">Inserir</b></span>
                <br>
                <br>
                <p>
                    <a href="#cadCidade"> <i class="fa fa-plus-circle fa-5x" style="color: #A3E496"></i></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card grey lighten-4">
            <div class="card-content white-text center">
                <span class="card-title"><b style="color: #616161">Consultar</b></span>
                <br>
                <br>
                <p>
                    <a href="#consultaCidade"> <i  class="fa fa-search fa-5x" style="color: #95CAE4" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>


    </div>

</div>