<div class="row">
    <h5 style="color: #757575">Cadastro de Clientes</h5>
</div>


<div class="row">
    <form class="col s12">                        
        <div class="row">
            <div class="input-field col s6">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="ender" type="text" class="validate">
                <label for="ender">Endereço</label>
            </div>
            <div class="input-field col s6">
                <input id="cep" type="text" class="validate">
                <label for="cep">Cep</label>
            </div>

            <div class="input-field col s6">
                <input type="date" id="dtNasc" class="datepicker">
                <label for="dtNasc">Data Nascimento</label>
            </div>
            <div class="input-field col s6">
                <input id="sDev" type="text" class="validate">
                <label for="sDev">Saldo Devedor</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" id="ativo" checked="checked" />
                <label for="ativo">Ativo?</label>
            </div>
        </div>
        <a class="waves-effect waves-light btn">Cadastrar</a>
    </form>
</div>