<div class="row">
    <h5 style="color: #757575">Cadastro de Produto</h5>
</div>


<div class="row">
    <form class="col s12">                        
        <div class="row">
            <div class="input-field col s6">
                <input id="nome" type="text" class="validate" required="">
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="preco" type="text" class="validate" required="">
                <label for="preco">Preço</label>
            </div>
            <div class="input-field col s6">
                <input id="estoq" type="number" class="validate" required="">
                <label for="estoq">Estoque</label>
            </div>

        </div>
        <a class="waves-effect waves-light btn">Cadastrar</a>
    </form>
</div>
