<div class="row">
    <h5 style="color: #757575">Cadastro de Cidades</h5>
</div>


<div class="row">
    <form class="col s12">                        
        <div class="row">
            <div class="input-field col s6">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="est" type="text" class="validate">
                <label for="est">Estado</label>
            </div>
            <div class="input-field col s6">
                <input id="cep" type="number" class="validate">
                <label for="cep">Cep</label>
            </div>
        </div>
        <a class="waves-effect waves-light btn">Cadastrar</a>
    </form>
</div>